@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />


<div class="container-fluid">
    <div class="row">
        <div class="col-3 mb-3">
            <a asp-controller="Administrador" asp-action="CrearUsuario">
                <div class="card">
                    <p class="heading">
                        Crear Usuario
                    </p>
                    <p>
                        En esta vista creamos los nuevos usuario
                    </p>
                    <p>
                        UIPB
                    </p>
                </div>
            </a>
        </div>
        <div class="col-3" >
            <a asp-controller="Administrador" asp-action="BuscarUsuario">
            <div class="card">
                <p class="heading">
                    Buscar Usuario
                </p>
                <p>
                    En esta vista consultamos los usuarios creados
                </p>
                <p >
                    UIPB
                </p>
            </div>
            </a>
        </div>
        
        <div class="col-3">
            <a asp-controller="Estudiante" asp-action="BuscarEstudiante">
                <div class="card">
                    <p class="heading">
                        Buscar Estudiante
                    </p>
                    <p>
                        En esta vista consultamos a los estudiantes creados
                    </p>
                    <p>
                        UIPB
                    </p>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a asp-controller="Estudiante" asp-action="Pagos">
                <div class="card">
                    <p class="heading">
                        Pagos Estudiante
                    </p>
                    <p>
                        En esta vista se crean y se consultan los pagos
                    </p>
                    <p>
                        UIPB
                    </p>
                </div>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-3 mt-4">
            <a asp-controller="Estudiante" asp-action="ObtenerPagos">
                <div class="card">
                    <p class="heading">
                        Mis Pagos
                    </p>
                    <p>
                        Consulta los pagos hechos por el estudiante logueado
                    </p>
                    <p>
                        UIPB
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>