@model SGPI.Models.Usuario
<link href="css/font-awesome/css/fontawesome.css" rel="stylesheet" />
@{

    ViewData["Title"] = "EditarEstudiante";
    Layout = "_layout";
}

<h1>Editar Estudiante</h1>

<form method="post" class="container">
    <selection>
        <div class="card p-2 shadow rounded">
            <div class="row mt-3">
                <input type="hidden" asp-for="IdUsuario" />
                <div class="form-group col-4">
                    <label asp-for="Nombre">Nombre</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Agregue su nombre">
                </div>

                <div class="form-group col-4 ">
                    <label asp-for="PrimerApellido">Primer Apellido</label>
                    <input asp-for="PrimerApellido" class="form-control" placeholder="Agregue su primer apellido">
                </div>

                <div class="form-group col-4 ">
                    <label asp-for="SegundoApellido">Segundo Apellido</label>
                    <input asp-for="SegundoApellido" class="form-control" placeholder="Agregue su segundo apellido">
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-6 ">
                    <label asp-for="IdGenero">Género</label>
                    @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "Descripcion"), new { @class = "form-control" })
                </div>
                <div class="form-group col-6 ">
                    <label asp-for="Email">Correo Electrónico</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="JohnDoe@example.com">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <label class="form-check-label" asp-for="Activo" for="flexCheckDefault">Activo</label>
                    <input class="form-check-input" type="checkbox" asp-for="Activo" id="Activo">
                </div>
                <div class="form-group col-6 ">
                    <input asp-for="Password" class="form-control" placeholder="Ejemplo: ********">
                    <label  asp-for="Password">Contraseña</label>
                </div> 
            </div>

            <br>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-sm" asp-action="Editar" asp-controller="Estudiante">Guardar <i class="fa-regular fa-floppy-disk fa-lg"></i></button>
                </div>
            </div>
        </div>
</form>