@model SGPI.Models.Usuario

@{
    // eL arroba es para realizar codigo de c# en html

    ViewData["Title"] = "CrearUsuario";
    Layout = "_layout";

}

<header>
    <h1>Crear Usuario</h1>
</header>



<form method="post" class="container">
    <selection >
        <div class="card p-2 shadow rounded bg-white">
            <div class="row mb-3">
                <div class="form-group  col-4">
                    <label asp-for="Nombre">Nombre</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Agregue su nombre">
                </div>

                <div class="form-group col-4 ">
                    <label asp-for="PrimerApellido">Primer Apellido</label>
                    <input asp-for="PrimerApellido" class="form-control" placeholder="Agregue su primer apellido">
                </div>

                <div class="form-group  col-4 ">
                    <label asp-for="SegundoApellido">Segundo Apellido</label>
                    <input asp-for="SegundoApellido" class="form-control" placeholder="Agregue su segundo apellido">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6 form-group ">
                    <label  asp-for="IdDoc">Tipo de Documento</label>
                    @Html.DropDownList("IdDoc", new SelectList(ViewBag.tipoDocumento, "IdDoc", "Descripcion"), new { @class = "form-control" })
                </div>

                <div class="col-6 form-group ">
                    <label class="ms-1" asp-for="NumeroDoc">Número de Documento</label>
                    <input asp-for="NumeroDoc" class="form-control" placeholder="Ejemplo: 123456789">
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-6 ">
                    <label asp-for="IdGenero">Género</label>
                    @Html.DropDownList("IdGenero", new SelectList(ViewBag.genero, "IdGenero", "Descripcion"), new { @class = "form-control" })
                </div>

                <div class="form-group col-6 ">
                    <label asp-for="IdRol">Rol</label>
                    @Html.DropDownList("IdRol", new SelectList(ViewBag.rol, "IdRol", "Descripcion"), new { @class = "form-control" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-6 ">
                    <label asp-for="Email">Correo Electrónico</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="JohnDoe@example.com">
                </div>

                <div class="form-group col-6 ">
                    <label asp-for="Password">Contraseña</label>
                    <input asp-for="Password" class="form-control" placeholder="Ejemplo: ********">
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-6 ">
                    <label asp-for="IdPrograma">Programa</label>
                    @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "Descripcion"), new { @class = "form-control" })
                </div>

                <div class="col-6">
                    <input class="form-check-input" type="checkbox" asp-for="Activo" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Activo</label>
                </div>
            </div>

            <br>
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Guardar <i class="fa-regular fa-floppy-disk fa-lg"></i></button>
                </div>
            </div>
        </div>
       
        <div class="row">
            
        </div>
</form>

            